.add{
    margin-top: 1rem;
    .input{
        background-color:#98D7C2;
        padding:1rem;
        border:none;
        margin-right: 1rem;
    }
    .button{
       padding:1rem;
       background-color: #29A0B1; 
       border:none;
    }
}